
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<IdentityUser> signInManager;

@using BoligKø.Web.ViewModels;
@model AnsøgningViewModel

@{
    ViewBag.Title = "Ansøg";
}


   
<link href="~/css/BoligKøCustomStyle.css" rel="stylesheet" />
 
<body class="darkBody">
    <div class="row inputContainer">
        <h4 class="title">Ansøg</h4>
        <hr class="hrTitle">
        <br />
        <br />
        <br />
        <div class="col-md-12">


            <form method="post">

                <input type="hidden" asp-for="UserId" value="@signInManager.UserManager.GetUserId(User)" />
                <span asp-validation-for="UserId" class="text-danger"></span>

                <!--------Post-Nr---------->
                <div class="form-group">
                    <label asp-for="PostNr"></label>
                    <input type="text" maxlength="4" onkeypress="return numValidate(event)" asp-for="PostNr" class="form-control inputDark" />
                    <span asp-validation-for="PostNr" class="text-danger"></span>
                </div>


                <hr class="hrSub">




                <!--------Stor Dyr---------->
                <div class="form-group">
                    <label class="subTitle" asp-for="StorDyr"></label>
                    <input asp-for="StorDyr" class="form-control inputDark" />
                    <span asp-validation-for="StorDyr" class="text-danger"></span>
                </div>



                <hr class="hrSub">

                <!--------Små Dyr---------->
                <div class="form-group">
                    <label class="subTitle" asp-for="SmåDyr"></label>
                    <input asp-for="SmåDyr" class="form-control checkBox" />
                    <span asp-validation-for="SmåDyr" class="text-danger"></span>
                </div>








                <!------Værelser------------->
                <hr class="hrSub">
                <label class="subTitle">Værelser</label>
                <div class="inputSubContainer">
                    <div class="form-group">
                        <label class="lowerSubTitle">Fra #</label>
                        <input id="FraVærelser" type="text" maxlength="2" oninput="validateFromTo('FraVærelser', 'TilVærelser')" onkeypress="return numValidate(event)" asp-for="FraAntalVærelser" class="form-control inputDark" />
                        <span asp-validation-for="FraAntalVærelser" class="text-danger"></span>
                    </div>


                    &nbsp;&nbsp;&nbsp;&nbsp;


                    <div class="form-group">
                        <label class="lowerSubTitle">Til #</label>
                        <input id="TilVærelser" type="text" maxlength="2" oninput="validateFromTo('FraVærelser', 'TilVærelser')" onkeypress="return numValidate(event)" asp-for="TilAntalVærelser" class="form-control inputDark" />
                        <span asp-validation-for="TilAntalVærelser" class="text-danger"></span>
                    </div>
                </div>









                <!--------Pris---------->
                <br />
                <hr class="hrSub">
                <label class="subTitle">Pris</label>
                <div class="inputSubContainer">
                    <div class="form-group">
                        <label class="lowerSubTitle">Fra .kr</label>
                        <input id="FraPris" type="text" maxlength="5" oninput="validateFromTo('FraPris', 'TilPris')" onkeypress="return numValidate(event)" asp-for="FraPris" class="form-control inputDark" />
                        <span asp-validation-for="FraPris" class="text-danger"></span>
                    </div>


                    &nbsp;&nbsp;&nbsp;&nbsp;


                    <div class="form-group">
                        <label class="lowerSubTitle">Til .kr</label>
                        <input id="TilPris" type="text" maxlength="5" oninput="validateFromTo('FraPris', 'TilPris')" onkeypress="return numValidate(event)" asp-for="TilPris" class="form-control inputDark" />
                        <span asp-validation-for="TilPris" class="text-danger"></span>
                    </div>
                </div>









                <!--------Kvadrat-Meter---------->
                <br />
                <hr class="hrSub">
                <label class="subTitle">Kvadratmeter</label>
                <div class="inputSubContainer">
                    <div class="form-group">
                        <label class="lowerSubTitle">Fra m2</label>
                        <input id="FraKvm" type="text" maxlength="5" oninput="validateFromTo('FraKvm', 'ToKvm')" onkeypress="return numValidate(event)" asp-for="FraKvm" class="form-control inputDark" />
                        <span asp-validation-for="FraKvm" class="text-danger"></span>
                    </div>


                    &nbsp;&nbsp;&nbsp;&nbsp;


                    <div class="form-group">
                        <label class="lowerSubTitle">Til m2</label>
                        <input id="ToKvm" type="text" maxlength="5" oninput="validateFromTo('FraKvm', 'ToKvm')" onkeypress="return numValidate(event)" asp-for="TilKvm" class="form-control inputDark" />
                        <span asp-validation-for="TilKvm" class="text-danger"></span>
                    </div>
                </div>





                <!--------Type---------->
                <div class="form-group">
                    <hr class="hrSub">
                    <label class="subTitle" asp-for="LejemålsType"></label>

                    <select asp-for="LejemålsType" class="selectmenu"
                            asp-items="Html.GetEnumSelectList<LejemålTypeKriterie>()">
                        <option value="">-----Valg Type-----</option>
                    </select>
                    <span asp-validation-for="LejemålsType" class="text-danger"></span>

                </div>







                <!--------Komentar---------->
                <hr class="hrSub">
                <div class="form-group">
                    <label asp-for="ØvrigeKommentar"></label>
                    <textarea type="text" maxlength="500" asp-for="ØvrigeKommentar" cols="40" rows="6" class="form-control textArea"></textarea>
                    <span asp-validation-for="ØvrigeKommentar" class="text-danger"></span>
                </div>



                <!--------Error-Text---------->
                <div asp-validation-summary="All" class="text-danger"></div>



                <!--------Opret---------->
                <br />
                <button type="submit"  class="buttonStyle1">Opret</button>

            </form>








            <!--------Custom--Validator-------------->
            <script src="~/js/CustomClientSideValidator.js"></script>

        </div>
    </div>
    </body>

 